.Header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
  height: 50px;
  background-color: rgba(255, 208, 0, 0.234), 0.695;
}

.Header p {
  margin-left: 100px;
  font-size: 18px;
}
